/*
button {
  border-radius: 10px;
  border: none;
  padding: 0.5rem 2rem 0.5rem 2rem;
  background-color: var(--white);
  font-size: 0.8rem;
  font-weight: 500;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
*/




/*
.addButton {
  background-color: #0D6943;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}*/

/*-----*/

/*------------------------------------------*/


@media screen and (min-width: 800px) {
  /*
  .fa-ellipsis {
    display: none;
  }

  /*

  .listToolbarButtons {
    display: grid;
    grid-template-columns: auto;
    display: flex;
    grid-gap: 1vw;
  }

  .listToolbar>div:nth-child(1) {
    margin-left: 5%;
    display: grid;
    grid-template-columns: auto;
    display: flex;
    grid-gap: 1vw;
  }


  /*
  .userList {
    padding-top: 2%;
    padding-bottom: 2%;
  }

  
  .itemList {
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .itemList>div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .itemCard>div:nth-child(2) {
    margin-right: 3%;
    grid-gap: 4vw;
  }

  .itemCard>div:nth-child(1) {
    margin-left: 3%;
  }

  .userCard>div:nth-child(1) {
    margin-left: 3%;
  }

  .userCard>div:nth-child(2) {
    margin-right: 3%;
  }

  .userCard>div:nth-child(1) {
    grid-gap: 1vw;
  }

  
  .listList {
    margin: 0 auto;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2vw;
  }

  .listCard {
    width: 100%;
    padding: 5% 0 5% 0;
  }

  .listCard>div:nth-child(1) {
    margin-left: 5%;
  }

  .listCard>div:nth-child(2) {
    margin-left: 5%;
  }
    */



}