.filter {
    display: flex;
    background-color: var(--component);
    border-radius: 8px;
    overflow: hidden;
    width: max-content;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.filterLabel {
    flex: 1;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: var(--text);
    transition: all 0.2s ease-in-out;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterLabel input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.filterLabel span {
    display: block;
    width: 100%;
    padding: 8px 16px;
    box-sizing: border-box;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.filterLabel input:checked+span {
    background-color: var(--blue);
    color: white;
    font-weight: 600;
}

.filterLabel:hover {
    background-color: #f2f2f2;
}

.filterLabel:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.filterLabel:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}