/*--CSS FOR COMPONENTS OR GLOBAL STYLE*/

:root {
    --background: white;
    --background-nav: #3D3028;
    --component: white;
    --container: white;
    --green: #0D6943;
    --red: #CC2A17;
    --blue: #006DD6;
    --orange: #E67C0E;
    --text: #5B5B5B;
    --text-secondary: white;
    --text-white: white;

}

[data-theme='dark'] {
    --background: #121212;
    --background-nav: #282828;
    --container: #282828;
    --component: #3F3F3F;
    --text: white;
    --green: #0D6943;
    --red: #CC2A17;
    --blue: #006DD6;
    --orange: #E67C0E;
    --text-secondary: #8C8061;
    --text-white: white;
}

@font-face {
    font-family: 'InterRegular';
    src: url('../fonts/Inter_18pt-Regular.ttf');
}

@font-face {
    font-family: 'InterSemibold';
    src: url('../fonts/Inter_18pt-SemiBold.ttf');
}

@font-face {
    font-family: 'InterLight';
    src: url('../fonts/Inter_18pt-Light.ttf');
}

* {
    font-family: 'InterRegular', sans-serif;

}

body {
    margin: 0;
    background-color: var(--background);
}

i {
    color: var(--text);
}

h3 {
    color: var(--text);
}

h2 {
    color: var(--text);
}

label {
    color: var(--text);
}

select {
    color: var(--text);
    background-color: var(--component);
    border: none;
}


.fa-x {
    transform: scale(1.2, 1);
    color: var(--red);
    cursor: pointer;
}


.fa-pen-to-square {
    color: var(--orange);
    cursor: pointer;
}

.fa-square-check {
    cursor: pointer;
}

/*---HIDDEN PROP---*/

.hidden {
    display: none;
}

/*-------------*/


.noDataText {
    display: flex;
    justify-content: center;
    font-size: larger;
    color: var(--text);
    font-family: 'InterLight';
}




/*---HEADER---*/
.navbarContainer {
    background-color: var(--background-nav);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--text);
    height: 6vh;
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.navbar>div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar select {
    padding: 0.5rem 3rem 0.5rem 1rem;
    border-radius: 10px;

}

.navbarLogoContainer {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100%;
}

.navbarLogoContainer>img {
    max-height: 80%;
    max-width: 60px;
    object-fit: contain;
}

/*-------------*/


/*---CARD---*/

.card {
    border-radius: 10px;
    /*background-color: var(--container);*/
    color: var(--text-whiteTheme);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

/*-------------*/


/*---BUTTON---*/
.button {
    border-radius: 10px;
    border: none;
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color: var(--component);
    color: var(--text);
    font-size: 0.8rem;
    font-weight: 500;
    height: 2rem;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.button:disabled {
    cursor: not-allowed;
}

/*-------------*/



/*---MODAL---*/

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden;
}

.modalContainer {
    width: 70%;
    padding: 2rem 3rem 2rem 3rem;
    background-color: var(--container);
    border-radius: 10px;
}

.modalHeader {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.modalTitle {
    margin-top: 5%;
    padding: 0;
}

.modalForm {
    width: 100%;
}

.modalInput {
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 0.5rem 2rem 0.5rem 1rem;
    color: var(--text);
    background-color: var(--component);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.modalButtons {
    margin-top: 5%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.modalSave {
    background-color: var(--green);
    color: var(--text-white);
    min-width: 6rem;
}

.modalClose {
    background-color: var(--red);
    color: var(--text-white);
}


/*-------------*/



.loader {
    width: 1rem;
    /* Adjust spinner size */
    height: 1rem;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
}

.loader>circle {
    fill: none;
    stroke: white;
    stroke-width: 6;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}


@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}


/*---TOGGLE---*/
/* switch settings 👇 */

.ui-switch {
    /* switch */
    --switch-bg: var(--text-white);
    --switch-width: 48px;
    --switch-height: 20px;
    /* circle */
    --circle-diameter: 32px;
    --circle-bg: var(--blue);
    --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input {
    display: none;
}

.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
}

.slider .circle {
    top: calc(var(--circle-inset) * -1);
    left: 0;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    position: absolute;
    background: var(--circle-bg);
    border-radius: inherit;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    ;
}

.slider .circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: inherit;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    opacity: 0;
}

/* actions */

.ui-switch input:checked+.slider .circle {
    left: calc(100% - var(--circle-diameter));
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.ui-switch input:active+.slider .circle::before {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    opacity: 1;
    width: 0;
    height: 0;
}

/*-------------*/




/*---FILTER---*/
.filter {
    display: flex;
    background-color: var(--component);
    border-radius: 8px;
    overflow: hidden;
    width: max-content;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.filterLabel {
    flex: 1;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: var(--text);
    transition: all 0.2s ease-in-out;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterLabel input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.filterLabel span {
    display: block;
    width: 100%;
    padding: 8px 16px;
    box-sizing: border-box;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.filterLabel input:checked+span {
    background-color: var(--blue);
    color: white;
    font-weight: 600;
}

.filterLabel:hover {
    background-color: #f2f2f2;
}

.filterLabel:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.filterLabel:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/*-------------*/


@media screen and (min-width: 800px) {

    /*---HIDDEN UNSET---*/
    .modalContainer {
        width: 50%;
    }

    .hidden {
        display: unset;
    }

    /*-------------*/
}